/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@800&family=Square+Peg&display=swap');

/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

body {
    background: rgb(47, 47, 47);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ESTILOS CABECERA */
header {
    color: white;
    display: flex;
    padding: 2rem;
    background: slateblue;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-form {
    font-size: 2rem;
}

.search-form input {
    padding: .2rem;
    width: 15rem;
    color: rgb(79, 79, 79);
    border-radius: 2.5rem;
    border: none;
}

.fa-magnifying-glass {
    font-size: 1.5rem;
}

.new-user-btn {
    padding: .2rem;
    border: .2rem solid white;
    border-radius: 1.2rem;
    background: green;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    flex-shrink: 0;
}

.new-user-btn:hover {
    background: rgb(0, 159, 0);
}

/* Diseño responsive header */
@media screen and (max-width: 750px){
    header {
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

/* ESTILOS DEL CONTENIDO PRINCIPAL Y DE LA TABLA */
#main-flex-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 5%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#main-flex-container table {
    background: whitesmoke;
    border-collapse: collapse;
}

#main-flex-container th {
    background: slateblue;
    padding: 1rem;
}

#main-flex-container td {
    padding: 1rem;
    background: whitesmoke;
    color: black;
}

.update-form {
    font-size: 1.5rem;
}

.update-form select {
    padding: .5rem;
    background: rgb(48, 48, 48);
    color: white;
}

#update-form-flex-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.update-user-btn {
    cursor: pointer;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    background: rgb(194, 126, 0);
    border: .2rem solid white;
    border-radius: 1.5rem;
    transition: all 1s;
}

.update-user-btn:hover {
    background: rgb(255, 167, 4);
}

.delete-user-btn {
    cursor: pointer;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    background: rgb(175, 0, 0);
    border: .2rem solid white;
    border-radius: 1.5rem;
    transition: all 1s;
}

.delete-user-btn:hover {
    background: rgb(255, 1, 1);
}

@media screen and (max-width: 750px){
    #update-form-flex-container {
        flex-direction: column;
    }
}

/* ESTILOS FOOTER */
footer {
    font-size: 2rem;
    text-align: center;
    background: slateblue;
    color: white;
    padding: 1.5rem;
    margin-top: auto;
}

@media screen and (max-width: 750px){
    footer {
        width: 100%;
    }
}